body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;

    /*
    background-color: rgb(255, 221, 158);
    */
}

.content {
    max-width: 1000px;
    flex: 1;
}

.scoreboard {
    display: flex;
    flex-direction: column;

    /* align-items: center; */
    justify-content: center;
    background-color: rgb(224, 224, 224);
}

.scoreboard h2 {
    align-self: center;
    justify-content: center;
    text-align: center;
}

.scoreDisplaySection {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    
}

.scoreDisplay {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    border: 1px solid black;
}

#pScore, #cScore {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 72px;
}

.buttonsDisplay {
    display: flex;
    flex: 1;
    
    padding: 24px 0px;
}

.buttonsDisplay button {
    display: flex;
    flex: 1;

    flex-wrap: wrap;

    padding: 12px 12px;

    align-content: center;
    justify-content: center;

    font-size: 24px;
}

button img {
    display: flex;
    flex: 1;
    flex-basis: 100%;

    width: 128px;
    aspect-ratio: 1/1;
    
    vertical-align: middle;
    padding: 12px;
}

button p {
    margin-bottom: 0px;
}

.outcomeDisplay {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
}

.outcomeRowTop {
    background-color: rgb(228, 228, 228);
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex: 1;
    border: 1px solid black;
    justify-content: center;

    padding: 12px;
}